<!-- ok -->
<div id="app-user-password" v-show="user.page == 'password'">
  <h2 style="margin-top: 30px; margin-bottom: 30px;">{{ $t("user.change_password") }}</h2>
  <form class="ui form" style="max-width: 500px;" onsubmit="return false;">
    <div class="field">
      <label>{{ $t("user.old_password") }}</label>
      <input type="password" v-bind:placeholder="$t('user.old_password')" v-model="user.data.changePass.oldPass">
    </div>
    <div class="field">
      <label>{{ $t("user.new_password") }}</label>
      <input type="password" v-bind:placeholder="$t('user.new_password')" v-model="user.data.changePass.newPass">
    </div>
    <div class="field">
      <label>{{ $t("user.confirm_password") }}</label>
      <input type="password" v-bind:placeholder="$t('user.confirm_password')" v-model="user.data.changePass.repeat">
    </div>
    <button class="ui button" v-on:click="changePassword()">{{ $t('user.submit_password') }}</button>
  </form>
</div>
